body{
  font: normal 15pt Helvetica;
  background: #1e1e2c;
  color: white;
}

h1{
  text-align: center;
}

input{
  width: 400px;
  height: 30px;
  font-size: large;
}

#main{
  background: #2d2d44;
  border-radius: 10px;
  margin: auto;
  padding-bottom: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.185);

}

#enviar{
  color: #1e1e2c;
  width: 408px;
  height: 45px;
  margin-top: 20px;
  font-size: large;
  font: bold 15pt Helvetica;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

#enviar:hover{
  background-color: #31e1ed;
  color: #1e1e2c;
}



footer{
  text-align: center;
  margin-top: 40px;
}